__pycache__/
node_modules/
/bukkit/bin/
/bukkit/target/
/bukkit/lib/*.jar
*.swp
package-lock.json
dependency-reduced-pom.xml
# idea
out
*.ipr
*.iws
*.iml
.idea
# gradle
build
.gradle
# other
eclipse
run
